version: '3.8'

services:
  nbank-tests:
    build: .
    container_name: nbank-tests-runner
    volumes:
      - ./test_results:/app/test_results
    environment:
      - PYTHONPATH=/app
      - PYTEST_ADDOPTS=--tb=short
    command: >
      pytest src/tests/ -v
      --html=/app/test_results/html_reports/report.html
      --self-contained-html
      --junitxml=/app/test_results/junit.xml
      --alluredir=/app/test_results/allure_results

  api-tests:      # Только API тесты
    build: .
    container_name: nbank-api-tests
    volumes:
      - ./test_results:/app/test_results
    environment:
      - PYTHONPATH=/app
    command: >
      pytest src/tests/api/ -v -m api
      --html=/app/test_results/html_reports/api_report.html
      --self-contained-html
      --alluredir=/app/test_results/allure_results

  ui-tests:    # Только UI тесты
    build: .
    container_name: nbank-ui-tests
    volumes:
      - ./test_results:/app/test_results
    environment:
      - PYTHONPATH=/app
    command: >
      pytest src/tests/ui/ -v
      --html=/app/test_results/html_reports/ui_report.html
      --self-contained-html
      --screenshot=on
      --video=retain-on-failure

  allure:    # Allure отчеты
    image: frankescobar/allure-docker-service:latest
    container_name: allure-report-server
    ports:
      - "5050:5050"
    volumes:
      - ./test_results/allure_results:/app/allure-results
    environment:
      - CHECK_RESULTS_EVERY_SECONDS=3
      - KEEP_HISTORY=TRUE